In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('1.1.1.1.txt',delimiter='\t')
df.head(1)

,EntryID,Substrate,EnzymeType,PubMedID,Organism,UniprotID,ECNumber,parameter.type,parameter.associatedSpecies,parameter.startValue,parameter.endValue,parameter.standardDeviation,parameter.unit
0,3804,NAD+;1-Octanol,wildtype class III,2936344.0,Homo sapiens,P11766,1.1.1.1,concentration,NAD+,0.0024,NaN,-,M

In [7]:
kcat_df_query=(df['parameter.type']=='kcat')&(df['parameter.unit']=='s^(-1)')
kcat_df=df[kcat_df_query]
print(f'shape---->{kcat_df.shape}')
print(f'has none----->{kcat_df['parameter.startValue'].isnull().any()}')

shape---->(517, 13)
has none----->False

In [18]:
Km=pd.DataFrame()
for row in kcat_df.itertuples():
    print(row[1])
    query=(df['EntryID']==row[1])&(df['parameter.type']=='Km')
    Km_row=df[query]
    pd.concat([Km,Km_row])

3804

TypeError: tuple indices must be integers or slices, not str

In [103]:
columns=['ECNumber','Organism','Smiles','Substrate','Sequence','Value','Unit','UniprotID']
data=pd.DataFrame(columns=columns)
data

Empty DataFrame
Columns: [ECNumber, Organism, Smiles, Substrate, Sequence, Value, Unit, UniprotID]
Index: []

In [104]:
data['ECNumber']=kcat_df['ECNumber']
data['Organism']=kcat_df['Organism']
data['Substrate']=Km_df['parameter.associatedSpecies']
data['Value']=kcat_df['parameter.startValue']
data['unit']=kcat_df['parameter.unit']
data['UniprotID']=kcat_df['UniprotID']

In [105]:
data

,ECNumber,Organism,Smiles,Substrate,Sequence,Value,Unit,UniprotID,unit
2,1.1.1.1,Homo sapiens,NaN,NaN,NaN,2.833333,NaN,P11766,s^(-1)
3,1.1.1.1,Homo sapiens,NaN,NaN,NaN,0.183333,NaN,P11766,s^(-1)
6,1.1.1.1,Homo sapiens,NaN,NaN,NaN,0.333333,NaN,P11766,s^(-1)
9,1.1.1.1,Kluyveromyces lactis,NaN,NaN,NaN,408.333300,NaN,P49384,s^(-1)
15,1.1.1.1,Kluyveromyces lactis,NaN,NaN,NaN,405.000000,NaN,P49384,s^(-1)
...,...,...,...,...,...,...,...,...,...
3498,1.1.1.1,Moraxella sp.,NaN,NaN,NaN,1.663333,NaN,P81786,s^(-1)
3507,1.1.1.1,Moraxella sp.,NaN,NaN,NaN,0.138333,NaN,P81786,s^(-1)
3549,1.1.1.1,Saccharomyces cerevisiae,NaN,NaN,NaN,176.000000,NaN,P00330,s^(-1)
3553,1.1.1.1,Saccharomyces cerevisiae,NaN,NaN,NaN,176.000000,NaN,P00330,s^(-1)
3579,1.1.1.1,Saccharomyces cerevisiae,NaN,NaN,NaN,0.000000,NaN,P38113,s^(-1)

In [62]:
kcat_query=(df['EntryID']==3805)&(df['parameter.type']=='kcat')
kcat_row=df[kcat_query].reset_index(drop=True)   #must reset index for get the volue of the cell
Km_query=(df['EntryID']==3805)&(df['parameter.type']=='Km')
Km_row=df[kcat_query].reset_index(drop=True)  
##???bug

In [64]:
Km_row.at[0,'EntryID']

3805

In [65]:
columns=['ECNumber','Organism','Smiles','Substrate','Sequence','Value','Unit','UniprotID']
data=pd.DataFrame(columns=columns)
row_number=0
data.at[row_number,'ECNumber']=kcat_row.at[0,'ECNumber']
data.at[row_number,'Organism']=kcat_row.at[0,'Organism']
data.at[row_number,'Substrate']=Km_row.at[0,'parameter.associatedSpecies']
data.at[row_number,'Value']=kcat_row.at[0,'parameter.startValue']
data.at[row_number,'unit']=kcat_row.at[0,'parameter.unit']
data.at[row_number,'UniprotID']=kcat_row.at[0,'UniprotID']

In [68]:
data

  ECNumber      Organism Smiles Substrate Sequence     Value Unit UniprotID
0  1.1.1.1  Homo sapiens    NaN       NaN      NaN  0.183333  NaN    P11766