In [1]:
import pandas as pd

In [15]:
#import data
df=pd.read_csv('sabio_combine_csv.csv',encoding='utf-8')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7808\3222212521.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('sabio_combine_csv.csv',encoding='utf-8')

In [22]:
df.columns

Index(['EntryID', 'Substrate', 'EnzymeType', 'PubMedID', 'Organism',
       'UniprotID', 'ECNumber', 'parameter.type',
       'parameter.associatedSpecies', 'parameter.startValue',
       'parameter.endValue', 'parameter.standardDeviation', 'parameter.unit',
       '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">', '{'],
      dtype='object')

In [88]:
#del uninterested columns
df_drop=df.drop(columns=['PubMedID','{','<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">','parameter.standardDeviation','parameter.endValue'])
df_drop.columns
print(df_drop.shape)

(314212, 10)

In [104]:
#query interested data
kcat_query=(df_drop['parameter.type']=='kcat')
kcat=df_drop[kcat_query]
print(kcat.shape)
print(kcat['parameter.type'].value_counts())

(27315, 10)
parameter.type
kcat    27315
Name: count, dtype: int64

In [27]:
#observe data distribution of every column
#df['column'].value_counts
#generate the requirement of clean

In [106]:
#clean dataset
clean_unit=(df_drop['parameter.unit']=='s^(-1)')
clean_UniprotID=(df_drop['UniprotID'].notna())&(df['UniprotID'].str.len()==6)
clean_startValue=(df_drop['parameter.startValue'].notna())
kcat_cleaned=kcat[clean_unit&clean_UniprotID&clean_startValue]
print(kcat_cleaned.shape)
#print(kcat_cleaned.info())

C:\Users\Administrator\AppData\Local\Temp\ipykernel_7808\2953537367.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  kcat_cleaned=kcat[clean_unit&clean_UniprotID&clean_startValue]

(22238, 10)
(22238, 15)

In [99]:
km_query=(df['parameter.type']=='Km')
km=df_drop[km_query]
print(km.shape)
duplicated_row=km.duplicated(subset=['EntryID',],keep=False)
km=km[~duplicated_row]
print(km.shape)

(54009, 10)
(45933, 10)

In [112]:
#merge
merge_df=pd.merge(kcat_cleaned,km[['EntryID','parameter.associatedSpecies']],on='EntryID',how='inner')
print(merge_df.shape)

(19559, 11)

Index(['EntryID', 'Substrate', 'EnzymeType', 'Organism', 'UniprotID',
       'ECNumber', 'parameter.type', 'parameter.associatedSpecies_x',
       'parameter.startValue', 'parameter.unit',
       'parameter.associatedSpecies_y'],
      dtype='object')

In [132]:
#unqiue check
merge_df.groupby(['EntryID']).size().max()
#merge_df[merge_df.duplicated(subset=['EntryID',],keep=False)]

KeyError: 'Entryid'

In [114]:
merge_df

,EntryID,Substrate,EnzymeType,Organism,UniprotID,ECNumber,parameter.type,parameter.associatedSpecies_x,parameter.startValue,parameter.unit,parameter.associatedSpecies_y
0,3804.0,NAD+;1-Octanol,wildtype class III,Homo sapiens,P11766,1.1.1.1,kcat,NaN,2.833333,s^(-1),1-Octanol
1,3805.0,NAD+;1-Pentanol,wildtype class III,Homo sapiens,P11766,1.1.1.1,kcat,NaN,0.183333,s^(-1),1-Pentanol
2,3806.0,12-Hydroxydodecanoic acid;NAD+,wildtype class III,Homo sapiens,P11766,1.1.1.1,kcat,NaN,0.333333,s^(-1),12-Hydroxydodecanoic acid
3,4505.0,NAD+;Ethanol,wildtype ADHIII,Kluyveromyces lactis,P49384,1.1.1.1,kcat,NaN,408.333300,s^(-1),NAD+
4,4506.0,Ethanol;NAD+,mutant ADHIII G225A,Kluyveromyces lactis,P49384,1.1.1.1,kcat,NaN,405.000000,s^(-1),NAD+
...,...,...,...,...,...,...,...,...,...,...,...
19554,42806.0,Acetyl-CoA;Hydrogencarbonate;ATP,wildtype ACC2,Rattus norvegicus,Q1HEC0,6.4.1.2,kcat,NaN,11.600000,s^(-1),Acetyl-CoA
19555,42807.0,Hydrogencarbonate;ATP;Acetyl-CoA,wildtype ACC2,Rattus norvegicus,Q1HEC0,6.4.1.2,kcat,NaN,11.600000,s^(-1),Hydrogencarbonate
19556,59258.0,DNA;NAD+,wildtype His10-LigA,Mycobacterium tuberculosis,P9WNV1,6.5.1.2,kcat,NaN,0.071667,s^(-1),NAD+
19557,42083.0,ATP;H2O,wildtype NBD1-581 (aa: 395-581),Mus musculus,P06795,7.6.2.2,kcat,NaN,0.008333,s^(-1),ATP
19558,75874.0,Hemin;ATP;H2O,wildtype C-terminal GFP-His10-tag,Homo sapiens,Q9NP58,7.6.2.5,kcat,NaN,0.120000,s^(-1),ATP

In [115]:
#generate output dataframe
df_output=pd.DataFrame()

In [118]:
df_output['ECNumber']=merge_df['ECNumber']
df_output['Organism']=merge_df['Organism']
df_output['Substrate']=merge_df['parameter.associatedSpecies_y']
df_output['Value']=merge_df['parameter.startValue']
df_output['unit']=merge_df['parameter.unit']
df_output['UniprotID']=merge_df['UniprotID']

In [119]:
df_output

,ECNumber,Organism,Substrate,Value,unit,UniprotID
0,1.1.1.1,Homo sapiens,1-Octanol,2.833333,s^(-1),P11766
1,1.1.1.1,Homo sapiens,1-Pentanol,0.183333,s^(-1),P11766
2,1.1.1.1,Homo sapiens,12-Hydroxydodecanoic acid,0.333333,s^(-1),P11766
3,1.1.1.1,Kluyveromyces lactis,NAD+,408.333300,s^(-1),P49384
4,1.1.1.1,Kluyveromyces lactis,NAD+,405.000000,s^(-1),P49384
...,...,...,...,...,...,...
19554,6.4.1.2,Rattus norvegicus,Acetyl-CoA,11.600000,s^(-1),Q1HEC0
19555,6.4.1.2,Rattus norvegicus,Hydrogencarbonate,11.600000,s^(-1),Q1HEC0
19556,6.5.1.2,Mycobacterium tuberculosis,NAD+,0.071667,s^(-1),P9WNV1
19557,7.6.2.2,Mus musculus,ATP,0.008333,s^(-1),P06795
19558,7.6.2.5,Homo sapiens,ATP,0.120000,s^(-1),Q9NP58