In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('brenda_combine_csv.csv')

In [4]:
df

,Unnamed: 0,TURNOVER NUMBER [1/s],SUBSTRATE,ORGANISM,UNIPROT,COMMENTARY,LITERATURE,IMAGE,Unnamed: 8
0,NaN,0.095,3-oxooctanoyl-CoA,Mycolicibacterium smegmatis,P71534,"pH 7.0, 25°C",762566,NaN,NaN
1,NaN,0.014,acetoacetyl-CoA,Plasmodium falciparum,Q965D6,pH 7.5,654432,NaN,NaN
2,NaN,0.019,acetoacetyl-CoA,Mycolicibacterium smegmatis,P71534,"pH 7.0, 25°C",762566,NaN,NaN
3,NaN,91.4,acetoacetyl-CoA,Saccharomyces cerevisiae,P35731,"mutant enzyme S40A, at pH 8.0 and 25°C",740558,NaN,NaN
4,NaN,102.0,acetoacetyl-CoA,Cupriavidus necator,P14697,"wild type enzyme, at pH 8.0 and 30°C",739901,NaN,NaN
...,...,...,...,...,...,...,...,...,...
36368,NaN,0.289,ATP,Escherichia coli,B7UMA6,at pH 8.5 and 25°C,749486,NaN,NaN
36369,NaN,447.0,ATP,Pseudomonas syringae,Q8RK01,"pH 8.0, 30°C, dodecameric form",656142,NaN,NaN
36370,NaN,674.0,ATP,Legionella pneumophila,O52185,"pH 8.0, 22°C, recombinant enzyme",752136,NaN,NaN
36371,NaN,674.0,ATP,Legionella pneumophila,O52185,"subunit DotBL, at 25°C, pH not specified in th...",752136,NaN,NaN
36372,NaN,0.078,ATP,Bos taurus,Q8HXQ5,pH and temperature not specified in the public...,747475,NaN,NaN

In [110]:
columns=['ECNumber','Organism','Smiles','Substrate','Sequence','Value','Unit','UniprotID']

In [135]:
data=pd.DataFrame(columns=columns)

In [136]:
data['ECNumber']=df_kcat['ECNumber']
data['Organism']=df_kcat['Organism']
data['Substrate']=df_kcat['Substrate']
data['Value']=df_kcat['parameter.startValue']
data['Unit']=df_kcat['parameter.unit']
data['UniprotID']=df_kcat['UniprotID']

In [133]:
del data['unit']

In [137]:
data

,ECNumber,Organism,Smiles,Substrate,Sequence,Value,Unit,UniprotID
2,1.1.1.1,Homo sapiens,NaN,NAD+;1-Octanol,NaN,2.833333,s^(-1),P11766
3,1.1.1.1,Homo sapiens,NaN,NAD+;1-Pentanol,NaN,0.183333,s^(-1),P11766
6,1.1.1.1,Homo sapiens,NaN,12-Hydroxydodecanoic acid;NAD+,NaN,0.333333,s^(-1),P11766
9,1.1.1.1,Kluyveromyces lactis,NaN,NAD+;Ethanol,NaN,408.333300,s^(-1),P49384
15,1.1.1.1,Kluyveromyces lactis,NaN,Ethanol;NAD+,NaN,405.000000,s^(-1),P49384
...,...,...,...,...,...,...,...,...
3498,1.1.1.1,Moraxella sp.,NaN,Ethanol;NAD+,NaN,1.663333,s^(-1),P81786
3507,1.1.1.1,Moraxella sp.,NaN,H+;NADH;Acetone,NaN,0.138333,s^(-1),P81786
3549,1.1.1.1,Saccharomyces cerevisiae,NaN,NADH;H+;Acetaldehyde,NaN,176.000000,s^(-1),P00330
3553,1.1.1.1,Saccharomyces cerevisiae,NaN,NADH;Acetaldehyde;H+,NaN,176.000000,s^(-1),P00330
3579,1.1.1.1,Saccharomyces cerevisiae,NaN,H+;Acetaldehyde;NADH,NaN,0.000000,s^(-1),P38113

In [138]:
[1,2]==[2,1]

False

In [142]:
a='1,2'
set(a.split(','))

{'1', '2'}

In [141]:
'NAD+;Ethanol'.s=='Ethanol;NAD+'.sort()

AttributeError: 'str' object has no attribute 'sort'