In [4]:
#给空的dataframe单元格赋值
import pandas as pd

In [1]:
columns=['EntryID','ECNumber']

In [5]:
df=pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [EntryID, ECNumber]
Index: []

In [8]:
#df.iloc[0,0]=1   #不能赋值，没有行存在

In [6]:
df.at[1,'EntryID']=2  #能赋值，但是0是列的名称，不是列的索引

In [7]:
df

  EntryID ECNumber
1       2      NaN

In [9]:
df.loc[3,'EntryID']=1 #能赋值，但是0是列的名称，不是列的索引
df

  EntryID ECNumber
1       2      NaN
3       1      NaN

In [29]:
#groupby
group=df.groupby('EntryID')

In [30]:
group

In [12]:
#去出单元格的值
b=df.loc[1,'EntryID']
b

2

In [13]:
b

2